<h1>All Goals</h1>

<ul>
	<li>
		<%= link_to 'Timeframe', goals_path(order: "days", status: params[:status]) %>
	</li>
	<li>
		<%= link_to 'Value', goals_path(order: "value", status: params[:status]) %>
	</li>
	<li>
		<%= link_to 'Effot', goals_path(order: "effort", status: params[:status]) %>
	</li>
	<li>
		<%= link_to 'Created', goals_path(order: "created", status: params[:status]) %>
	</li>
	<li>
		<%= link_to 'Magic', goals_path(order: "magic", status: params[:status]) %>
	</li>
</ul>

<ul>
	<li>
		<%= link_to 'Show Complete', goals_path(order: params[:order], status: "complete") %>
	</li>
	<li>
		<%= link_to 'Show Incomplete', goals_path(order: params[:order], status: "incomplete") %>
	</li>
	<li>
		<%= link_to 'Show All', goals_path(order: params[:order], status: "all") %>
	</li>
</ul>

<ul>
	<% @goals.each do |goal| %>
	<li>
		<%= link_to goal.text + ' - ' + days_left(goal.created_at, goal.days).to_s + 'd ' + goal.value.to_s + 'v ' + goal.effort.to_s + 'e', goal_path(goal) %>
	</li>
	<% end %>
</ul>