<!-- #TODO make a template for this sentence -->
<p>
  Within <%= Goal.days[@goal.days] %> I will <%= @goal.text %> which will be <%= Goal.values[@goal.value] %>  and <%= Goal.efforts[@goal.effort] %>. <%= link_to 'Edit', edit_goal_path(@goal) %>
</p>

<%= link_to 'Index', goals_path %>